name: CI
on: push
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node:
          - '12'
          - '14'
          - '16'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm test
